<div class="page angular">
  <div class="title">
    <h1 class="title sub">¿Por qué <img src="images/angular.png" class="logo" alt="" />?</h1>
    
  </div>
  <p>
    Existen muchas razones pero voy a dar 4 sólamente, las demás razones las encontraran ustedes mismos en la práctica.
  </p>
  <div class="list-square row">
    <div class="col-sm-3"><div class="c">Data binding</div></div>
    <div class="col-sm-3"><div class="c">Flexible</div></div>
    <div class="col-sm-3"><div class="c">Curva de aprendizaje</div></div>
    <div class="col-sm-3"><div class="c">Comunidad</div></div>
  </div>
  <div class=" row">
    <div class="row">
      <div class="col-sm-12">
        <pre>
  <code class="html">
  &lt;input type=&quot;text&quot; ng-model=&quot;db&quot; placeholder=&quot;Digite algo&quot; class=&quot;form-control input-sm&quot; /&gt;<br />
        &lt;pre ng-show=&quot;db&quot;&gt;Digitando: {{db}}&lt;/pre&gt;          
  </code>
        </pre>
        
      </div>
    </div>
    <div class="col-sm-3">
      <input type="text" ng-model="db" placeholder="Digite algo" class="form-control input-sm" />
      <pre ng-show="db">Digitando: {{db}}</pre>
    </div>
  </div>
</div>