<div class="page directivas">
  <div class="title">
    <h1 class="title sub">Funciones</h1>
  </div>
  <p>Cómo todos los framweworks, angular nos presenta muchas funciones ya predefinidas para facilitarnos el trabajo</p>
  <div class="content top20">
    <p>Algunas funciones:</p>
    <ul class="top20">
      <li>angular.forEach</li>
      <li>angular.extend</li>
      <li>angular.equals</li>
      <li>angular.isDefined</li>
      <li>angular.isNumber</li>
      <li>angular.lowercase</li>
      <li>Más=><a href="https://docs.angularjs.org/api">https://docs.angularjs.org/api</a></li>
    </ul>
    <div class="top20">
      <h2>Services</h2>
      <p>$http, $timeout, $animate, ...</p>
      
    </div>
    <div class="top20">
      <h2>Filters</h2>
      <p>Currency, date, json, lowercase, ...</p>
    </div>
  </div>
</div>
